<footer class="bd-footer text-muted">
  <div class="container-fluid p-3 p-md-5">
    <ul class="bd-footer-links">
      <li><a href="{{ site.repo }}">GitHub</a></li>
      <li><a href="https://twitter.com/getbootstrap">Twitter</a></li>
      <li><a href="{{ site.baseurl }}/docs/{{ site.docs_version }}/examples/">Exemplos</a></li>
      <li><a href="{{ site.baseurl }}/docs/{{ site.docs_version }}/about/overview/">Sobre</a></li>
    </ul>
    <p>Projetado e construído com todo amor do mundo por <a href="https://twitter.com/mdo" target="_blank" rel="noopener">@mdo</a> e <a href="https://twitter.com/fat" target="_blank" rel="noopener">@fat</a>. Mantido pela <a href="https://github.com/orgs/twbs/people">equipe core</a> com ajuda dos <a href="https://github.com/twbs/bootstrap/graphs/contributors">nossos contribuidores</a>.</p>
    <p>Atualmente v{{ site.current_version }}. Código licenciado sob <a href="https://github.com/twbs/bootstrap/blob/master/LICENSE" target="_blank" rel="license noopener">MIT</a>, documentação sob <a href="https://creativecommons.org/licenses/by/3.0/" target="_blank" rel="license noopener">CC BY 3.0</a>.</p>
  </div>
</footer>
