/* Estilos para o sticky footer
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margem inferior pela altura do footer */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Defina a altura fixa do footer, aqui. */
  height: 60px;
  line-height: 60px; /* Centralize verticalmente o texto. */
  background-color: #f5f5f5;
}


/* CSS de customização da página
-------------------------------------------------- */
/* Não é obrigatório para templates ou para o sticky footer. */

body > .container {
  padding: 60px 15px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}
